<div class="card mb-3  text-center">
  <div class="row justify-content-center">
    <img [src]="img"  class="card-img-top w-50" alt="Image related">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <div class="card-text">
      <div class="row">
        <div class="col-10 offset-1" *ngFor="let item of data">{{ item.msg }} <b>{{ item.value }}</b></div>
      </div>
    </div>
    <p class="card-text"><small class="text-muted">Por Roberto Avila</small></p>
  </div>
</div>
